html,body {
    touch-action: none; /* Désactive les interactions tactiles comme le scroll */
    overflow: hidden; /* Empêche le défilement */
    margin: 0;
    padding: 0;
    background-color: #000000;
    touch-action: none;
    height: 100%;
}
:root {
    --color1: #2a142f;
    --color2: #2c6b4f;
    --color3: #3a6e38;
}
.circle {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transform: translate(-50%, -50%),scale(1.2);
    box-shadow: none;
    pointer-events: none;
    position: absolute;
    animation: pulse 600ms linear infinite alternate;
               /* boxMagic 2s linear infinite alternate; */
    transform-origin: center;
    border: 5px solid #ffffff;
    padding-top: 20px;
}
.overlay-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
    z-index: 10;
}
.popup-header {
    background: var(--color1);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    font-family: "Sigmar", serif;
    padding: 12px;
    text-align: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.content-popup {
    height: 80%;
    width: 80%;
    background: var(--color3);
    font-family: "Sigmar", serif;
    overflow: auto;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: scale(0.8);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 11;
}
.overlay-popup.show .content-popup {
    transform: scale(1);
    opacity: 1;
}
.popup-list {
    list-style: none;
    padding: 0;
    overflow-y: auto; 
    margin: 15px 0;
}

.popup-list li {
    background: var(--color2);
    margin: 5px 0;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
}
.popup-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 18px;
    font-family: "Sigmar", serif;
    color: #ffffff;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}
.popup-button:hover {
    color: #333;
}
.button-minus, .button-plus {
    background: var(--color1);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
}

/* Espacement entre les boutons et le texte */
.button-minus {
    margin-right: 40px; /* Espacement entre le bouton "-" et le texte */
}

.button-plus {
    margin-left: 40px; /* Espacement entre le texte et le bouton "+" */
}
.spinner {
    --size: 30px;
    --first-clr: #528b45;
    --second-clr: #642782;
    width: 80px;
    height: 80px;
    position: relative;
  }
  
  .spinner::before,
  .spinner::after {
    content: "";
    width: var(--size);
    height: var(--size);
    border: 5px solid var(--first-clr);
    position: absolute;
    top: 35%;
    left: 15%;
    transform: translate(-50%, -50%);
    animation: kf-spin 1s linear infinite;
    border-radius: 50% 80% 50% 70%;
    box-sizing: border-box;
  }
  
  .spinner::after {
    top: 35%;
    left: 40%;
    border: 5px solid var(--second-clr);
    animation: kf-spin 1s linear infinite reverse;
  }
  
  @keyframes kf-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  
  @keyframes kf-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

p {
    font-family: "Sigmar", serif;
    color: #528b45;
    font-style: normal;
    font-size: 40px;
    -webkit-text-stroke: 1px white;
    text-align: center;
    margin: 0; 
}

.boxLogo {
    display: flex; /* Aligne les éléments en ligne */
    align-items: center; /* Centre verticalement */
    justify-content: center;
    gap: 20px; 
    width: 100%;
    top: 0;
    left: 0;
    right: 5px;
    border: 1px solid #ffffff; /* Bordure sur tous les côtés */
    box-sizing: border-box; /* Assure que la bordure est bien visible */
    background-color: #2b1934;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 10px;
    position: relative;
    z-index: 3;
}


.sigmar-regular {
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
}
  
@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.5) rotate(360deg); /* Grossit */
        opacity: 0.8;
    }
}
@keyframes boxMagic {
    from{
        
        box-shadow: 
        0 0 0 rgb(255, 173, 20),
        0 0 0 rgb(175, 24, 147),
        0 0 0 rgb(24, 175, 147),
        0 0 0 rgb(18, 203, 108),
    }
    to{
        
        box-shadow: 
        0 -15px 0 rgb(82, 139, 69),
        -15px 0 0 rgb(54, 175, 24),
        0 -15px 0 rgb(58, 30, 73),
        -15px 0 0 rgb(169, 71, 237);
    }
}
.canvas-container {
    position: fixed; /* Fixe le canvas sur tout l'écran */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#mycanvas {
    display: block;
    width: 100%;
    height: 100vh; /* Plein écran */
    background: linear-gradient(120deg, var(--color1), var(--color2), var(--color3));
    background-size: 300% 300%; 
    animation: gradientMove  5s linear infinite; /* Animation infinie */
}
@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes expandWinner {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(255, 215, 0, 0.5); /* Lueur douce */
        opacity: 1;
    }
    50% {
        transform: scale(20); /* Agrandissement intermédiaire */
        box-shadow: 0 0 50px rgba(255, 215, 0, 0.8); /* Intensification */
    }
    80% {
        transform: scale(40);
        box-shadow: 0 0 100px rgba(255, 215, 0, 1); /* Max glow */
        opacity: 1; /* Encore visible */
    }
    100% {
        transform: scale(50);
        opacity: 0; /* Disparition en fondu */
    }
}
@keyframes explode {
    0% {
        transform: translate(-50%, -50%) scale(1) rotate(0deg);
        opacity: 1;
    }
    30% {
        transform: translate(-50%, -50%) scale(1.8) rotate(80deg);
        opacity: 0.9;
    }
    60% {
        transform: translate(-50%, -50%) scale(2.5) rotate(-80deg);
        opacity: 0.6;
    }
    100% {
        transform: translate(-50%, -50%) scale(3.5) rotate(0deg);
        opacity: 0;
    }
}

.winner {
    animation: explode 1s ease-out forwards;
    background: radial-gradient(circle, rgb(255, 255, 255),rgb(255, 255, 255));
}

.logo-container {
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: 10px;
}

.logo-shape {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
}

.circle1, .circle2 {
    position: absolute;
    width: 80px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    will-change: transform;
}

.circle1 {
    animation: rotateLeft 1s linear infinite;
}

.circle2 {
    animation: rotateRight 1s linear infinite;
}

@keyframes rotateLeft {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    50% { transform: translate(-50%, -50%) rotate(10deg); }
    100% { transform: translate(-50%, -50%) rotate(0deg); }
}

@keyframes rotateRight {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    50% { transform: translate(-50%, -50%) rotate(-10deg); }
    100% { transform: translate(-50%, -50%) rotate(0deg); }
}
/* From Uiverse.io by martinval9 */ 
/* The switch - the box around the slider */
.switch {
    font-size: 11px;;
    position: relative;
    top: 5px; /* Ajuste cette valeur pour descendre le switch */
    display: inline-block;
    width: 3.5em;
    height: 1em;
   }
   
   /* Hide default HTML checkbox */
   .switch input {
    opacity: 0;
    width: 0;
    height: 0;
   }
   
   /* The slider */
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    border: 1.5px solid #ffffff;
    transition: .4s;
    border-radius: 1px;
   }
   
   .slider:before {
    position: absolute;
    content: "1";
    color: #ffffff;
    font-weight: bold; /* Texte en gras */
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 1.3em;
    width: 1.2em;
    border-radius: 2px;
    left: 0.2em;
    bottom: 0.3em;
    background-color: #000000;
    border: 1.5px solid #ffffff;
    transition: 0.1s;
   }
    
   input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
   }
   
   input:checked + .slider:before {
    content: "2";
    transform: translateX(1.3em);
   }